h1 {
    color:#F4F4F4;
    padding:5%;
	font-family: Arial;
	background:#373737;
	font-size:4vw;
	margin-top:0;
	margin-bottom:0;
}
body {
	background-color: #C0B283;
}

div {
    color: white;
    margin-top: 20px;
	margin-bottom: 20px;
    padding-top:3%;
	padding-bottom:3%;
} 

html, body {
	height: 100%;
	margin: 0;
	overflow: hidden;

}

a,div{
	background:#373737;
	margin-left:0;
	margin-right:0;
	font-size:3vw;
	font-family: Arial;
	color:#F4F4F4;
}



a:nth-child(1) {
	margin-left:5%;
}

a:nth-child(2) {
    padding-left:10%;
	padding-right:10%;
}

a:nth-child(3) {
	margin-left:30%;
	
}
